# Node modules
node_modules/

# Build output
build/
dist/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Environment files
.env
.env.*.local

# Next.js build output
.next/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.swp

# NPM and Yarn lock files (optional but commonly ignored)
package-lock.json
yarn.lock

# Jest and testing cache
*.test.js
*.spec.js
coverage/

# React Native
.expo/
