.twsbtt-scroll-to-top {
  position: fixed;
  display: none;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  z-index: 1000;
  background-color: #000;
  color: #fff;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease,
    border-radius 0.3s ease; /* Safari/Chrome */
  -moz-transition: background-color 0.3s ease, color 0.3s ease,
    border-radius 0.3s ease; /* Firefox */
  -o-transition: background-color 0.3s ease, color 0.3s ease,
    border-radius 0.3s ease; /* Opera */
  transition: background-color 0.3s ease, color 0.3s ease,
    border-radius 0.3s ease; /* Standard */
  -webkit-border-radius: 5px; /* Safari/Chrome */
  -moz-border-radius: 5px; /* Firefox */
  border-radius: 5px; /* Standard */
}
